.wrapper{
  background: #ececec;
  padding: 0 20px 0 20px;
}
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
  }
  .alert{
    display: grid;
    place-items: center;
    height: 25px;
    padding: 0;
    margin: 0;
    h6{
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }
  .left{
    background-image: url("../../../assets/sideImage.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px 0 0 10px;
  }

  .right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .trait{
      position: absolute;
      left: 20%;
      top: 25%;
      display: flex;
      justify-items: center;
      align-items: center;
      hr{
        width: 120px;
        height: 13px;
        color: #4d4e56;
      }
      p{
        padding: 0 8px;
        color: #4d4e56;
        font-size: small;
      }
    }

  }
  .oauth{
    position: absolute;
    left: 50%;
    top: 12%;
    width: 100%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
  }
  .oauth button{
    margin-bottom: 10px;
    padding: 8px 25px;
    background: none;
    font-size: 1rem;
    color: black;
    border-radius: 25px;
    font-weight: bold;
  }
  .oauth button:hover{
    color: #fff;
    background: rgba(37, 95, 156, 0.9);
  }
  .oauth button span{
    font-size: 15px;
    padding: 5px 0;
  }
  .input-box{
    width: 330px;
    box-sizing: border-box;
    margin-top: 25%;
  }
.input-box header{
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  color: rgba(37, 95, 156, 0.9);
  text-decoration: underline;
}

form .input-field{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
  .input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
  }
  .input.ng-touched.ng-invalid{
    border-bottom: 1px solid red;
  }
  .input.ng-touched.ng-valid{
    border-bottom: 1px solid green;
  }
  label{
    pointer-events: none;
    font-size: 15px;
    color: #4d4e56;
    position: absolute;
    left: 15px;
    top: 15px;
    transition: .5s;
  }
  .input:focus ~ label{
    top: -10px;
    font-size: 13px;
  }
  .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #40414a;
  }
  .input:focus, .input:valid{
    border-radius: 7px;
    border-bottom: 1px solid #743ae1;
    box-shadow: 10px 10px #ececec;
  }
  .submit{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
  }
  button.submit:hover{
    background: rgba(37, 95, 156, 0.9);
    color: #fff;
  }
  .submit:disabled:hover{
    cursor: not-allowed;
    background: #ececec;
    color: black;
  }

}


.routeTo{
  text-align: center;
  font-size: small;
  margin-top: 25px;
  span a{
    text-decoration: none;
    font-weight: 700;
    color: rgba(37, 95, 156, 0.9);
    transition: .5s;
  }
  span a:hover{
    text-decoration: underline;
    color: rgba(37, 95, 156, 0.9);
  }
}

@media only screen and (max-width: 768px){

  .left{
    border-radius: 10px 10px 0 0;
  }
  .oauth{
    position: absolute;
    top: 10%;
    text-align: center;

  }

  .right .trait{
    top: 22%;
  }
  .row{
    max-width: 420px;
    width: 100%;
  }
}
