<div class="container main">
  <div class="row">
    <div class="alert alert-success" role="alert"  *ngIf="message">
      <h6 class="alert-heading" >{{message}}</h6>
    </div>
    <div class="alert alert-danger" role="alert"  *ngIf="errMessage">
      <h6 class="alert-heading">{{errMessage}}</h6>
    </div>
    <div class="col-md-6 left">
      <!-- image logo src css files -->
    </div>

    <div class="col-md-6 right">
      <form (ngSubmit)="onForget()" class="form-group" [formGroup]="forgetForm">
        <div class="input-box">
          <header>Forgot Password</header>
          <div class="input-field">
            <input   type="text" class="input" name="email" required  formControlName="email">
            <label for="email">Email</label>

            <small *ngIf="Lf['email']?.invalid && Lf['email']?.touched" class="text-danger" [ngStyle]="{'margin-bottom': '15px'}">
              <span *ngIf="Lf['email']?.hasError('email')">Invalid Email</span>
              <span *ngIf="Lf['email']?.hasError('required')">Email Required</span>
            </small>
          </div>
        </div>
        <div class="input-field" id="submitDiv">
          <button [disabled]="forgetForm.invalid" type="submit" class="submit" id="submitBtn"> Next</button>
        </div>
        <div class="routeTo">
          <span>You remember the password? <a routerLink="/login">click here</a></span>
        </div>
      </form>
    </div>
  </div>
</div>

